// swt theme for data website by Simon Schwab

/*-- scss:defaults --*/

// Global fonts
$font-family-sans-serif: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-monospace: Consolas, "Courier New", monospace !default;

$font-size-root: 16px !default;

// Base document colors / dahsboard
$navbar-bg: #E6EEF0;
$navbar-fg: #003764;
$navbar-hl: #E5005C;

// Global colors
$link-color: #e5005c;
$code-block-bg: #E6EEF0 !default;
$code-block-border-left: #3F698A !default;

$dropdown-link-color: #003764;
$dropdown-bg: #E6EEF0;
$dropdown-link-hover-color: #E5005C;

$footer-bg: #E6EEF0;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #003764;
  font-weight: bold;
}

/* table font size */
.table {
  font-size: 85%;
}

/* table caption left alignment */
caption, .table-caption {
  text-align: left;
}

/* table caption left alignment for tables using {#tbl-1 .striped .hover} */
figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  text-align: left;
}

/* logo size and padding */
.navbar-logo {
  max-height: 45px;
  width: auto;
  padding-right: 24px;
}
